__pycache__/addressbook.cpython-312.pyc
__pycache__/commands.cpython-312.pyc
__pycache__/fields.cpython-312.pyc
__pycache__/record.cpython-312.pyc
__pycache__/UI.cpython-312.pyc
__pycache__/errors.cpython-312.pyc
addressbook.pkl
